<h2><%= @creature.name %>   </h2>
<%= link_to "&larr; back".html_safe, creatures_path %>
<div class="well">
  <p><%= @creature.description %></p>
    <ul><% @tags.each do |tag| %>
    <li><%= tag.name %></li>

  <% end %></ul>
</div>
