<h1>Home    <ul class="nav bog-nav nav-pills pull-right">
      <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
      <li role="presentation" ><%= link_to "Creatures", creatures_path %></li>
    </ul></h1>
<p>We encourage people in the community to explore the bogs and submit their findings using our web application.</p>