// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #006666;
  color: #e6e6e6;
}

.well {
  color:#444;
}

.bog-nav {
  font-size: initial;
}